/*CSS utilizado na pagina index.html*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2c2b2b;
}

#menu{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #ffcc02;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#img_logo{
    cursor: pointer;
}
#img_logo:hover{
    transform: scale(1.1);
}
#carrinho{
    cursor: pointer;
    margin-top: 5%;
}
#carrinho:hover{
    transform: scale(1.1);
}

.opcao{
    color: #000100;
    font-family: Impact, fantasy;
    font-size: 25px;
    margin-top: 22px;
    cursor: pointer;
    border: transparent;
    background-color: transparent;
}
.opcao:hover {
    text-decoration: underline; 
}
.opcao_pedido{
    background-color: #000100;
    color: #fdffff;
    border: 2px solid #000100;
    border-radius: 5%;
    font-family: Impact, fantasy;
    font-size: 27px;
    padding: 5px;
    margin-top: 13px;
    cursor: pointer;
}
.opcao_pedido:hover {
    border-color: #fdffff; 
}

#carrosel{
    width: 99.5%;
    height: 650px;
    border: #ffcc02 3px solid;
    border-bottom: #000100 1.5px solid;  
}

.subtitulo{
    margin: 2%;
    margin-top: 6%;
    color: #fdffff;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    justify-content: space-evenly;
}

.produto{
    background-color: white;
    border-radius: 3%;
    cursor:pointer;
}
.produto:hover {
    border: #ffcc02 5px solid;
    transform: scale(1.1);
}

.bebidas{
    width: 160px;
    height: 200px;
    border-radius: 3%;
}

.descricao{
    font-size: 12px; 
    line-height: 20px;
    text-align: center;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,helvetica,roboto,arial,sans-serif;
}
.preco{
    text-align: center;
    margin-top: 2%;
    font-size: 23px;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,helvetica,roboto,arial,sans-serif; 
}


#quem_somos{
    text-align: center;
}
p{
    font-size: 16px;
    font-family: "Speedee",arial,helvetica,sans-serif;
    color: #fdffff;
    width: 35%;
    text-align: left;
    line-height: 20px;
    margin-left: 32%;
}

#local{
    width: 1000px;
    height: 500px;
    margin: 4%;
    margin-left: 11.5%;
    border: #ffcc02 3px solid;
    border-radius: 1%;
    cursor:pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 96.9%;
}


